src/results/
dataSources/*_RAW.csv
dataSources/*_RAW.xlsx
*.vscode/
*.snakemake/
src/dag.*
results/
*.ipynb_checkpoints/
dataSources/UpdateDemand/
scripts/developer_tools/CanadaUsaTxtDiffCheck/Results.txt
*__pycache__/